In [1]:
print(int(53.785))

53

In [2]:
dia = "sexta-feira"
dia = 32.5
dia = 19
print(dia)

19

In [3]:
print(18 / 4, 18 // 4, 18 % 4)

4.5 4 2

In [4]:
idade = input("Por favor, digite a sua idade: ")
print(type(idade))

Por favor, digite a sua idade:  18

<class 'str'>

In [5]:
16 - 2 * 5 // 3 + 1

14

In [7]:
x = 15
y = x
x = 22
print("O valor de x é: ", x)
print("O valor de y é: ", y)

O valor de x é:  22
O valor de y é:  15

In [8]:
d = 3
c = 2
b = 4
d = c + b
a = a + 1
print(a)

NameError: name 'a' is not defined

In [9]:
if (4 + 5 == 10):
    print("Verdadeiro")
else:
    print("Falso")

Falso

In [10]:
if (4 + 5 == 10):
    print("Verdadeiro")
else:
    print("Falso")
    print("Verdadeiro")

Falso
Verdadeiro

In [13]:
if 3 < 5 and 3 < 2:
    print("a")
elif 5 < 3 and 5 < 2:
    print("b")
else:
    print("c")

c

In [14]:
a = "I"
b = "love"
c = "Python"
print(a + b + c)

IlovePython

In [17]:
a = "python"
b = "!"
print(a + b * 3)

python!!!

In [69]:
a = int(input("Digite um número: "))
b = int(input("Digite outro número: "))
c = int(input("Digite um último número: "))
maior = a
if b > a and b > c:
    maior = b
if c > a and c > b:
    maior = c
print("O maior desses três números é: ", maior)

Digite um número:  8
Digite outro número:  14
Digite um último número:  3

O maior desses três números é:  14

In [93]:
a = int(input("Digite um número: "))
b = int(input("Digite outro número: "))
c = int(input("Digite um último número: "))
if a < b and b < c:
print(c, end="") print(b, end="") print(a, end="")

SyntaxError: invalid syntax (4237316797.py, line 5)